ul{
    list-style: none;
}

a{
    text-decoration: none;
}

nav ul li a{
    cursor: pointer;
    color: white;
}



/*reset*/
p {
  padding: 10px;
    font-size: 18px;
    line-height: 26px;
    font-family: Arial, Helvetica, sans-serif;
}
/*
<a href="https://br.freepik.com/fotos-gratis/retrato-de-uma-estudante-loira-atraente-usando-oculos-e-sorrindo-determinado-parecendo-elegante-em-pe-sobre-uma-parede-branca_19294735.htm#query=pessoas%20de%20oculos&position=1&from_view=keyword&track=ais&uuid=a4dac77c-ad5a-48fb-952f-fb380a302905">Imagem de cookie_studio</a> no Freepik
foto01

<a href="https://br.freepik.com/fotos-gratis/homem-maduro-barbudo-bonito-e-confiante-posando_10730732.htm#query=pessoas%20de%20oculos&position=46&from_view=search&track=ais&uuid=0203c839-55de-4f4e-9570-40bdd72c8f22">Imagem de cookie_studio</a> no Freepik

foto02


<a href="https://br.freepik.com/fotos-gratis/menina-bonita-sorridente-e-seu-namorado-bonito-em-roupas-de-verao-casual-homem-carregando-sua-namorada-nas-costas-e-ela-levantando-as-maos_6629113.htm#page=3&query=pessoas%20de%20oculos&position=0&from_view=search&track=ais&uuid=06beaebf-4745-45e3-8dae-2a955e5cca76">Imagem de halayalex</a> no Freepik
foto03

*/